[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
mypy = "*"
pycodestyle = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
requests-mock = "*"
#saucerbot = {path = ".", editable = true}

[packages]
arrow = "*"
"beautifulsoup4" = "*"
brotlipy = "*"
django = "*"
djangorestframework = "*"
dj-database-url = "*"
elasticsearch = "~=5.0"
lowerpines = "*"
gunicorn = "*"
"psycopg2-binary" = "*"
requests = "*"
whitenoise = "*"

[requires]
python_version = "3.6"
