[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arrow = "*"
"beautifulsoup4" = "*"
click = "*"
colorlog = "*"
"discord.py" = "*"
dj-database-url = "*"
django = "~=3.2.0"
django-split-settings = "*"
djangorestframework = "~=3.12.0"
elasticsearch = "~=7.0"
gunicorn = "*"
lowerpines = {git = "https://github.com/bigfootjon/lowerpines.git", ref = "master"}
"psycopg2" = "*"
pyyaml = "*"
requests = "*"
rollbar = "*"
scout-apm = "*"
whitenoise = "*"

[dev-packages]
black = "==21.9b0"
"discord.py-stubs" = "*"
django-stubs = "*"
djangorestframework-stubs = "*"
dpytest = "*"
isort = "*"
mypy = "*"
pylint = "*"
pylint-django = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-mock = "*"
types-pyyaml = "*"
types-requests = "*"

[requires]
python_version = "3.9"
