[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arrow = "*"
"beautifulsoup4" = "*"
dj-database-url = "*"
Django = "~=2.1.0"
django-split-settings = "*"
djangorestframework = "~=3.9.0"
elasticsearch = "~=6.2.0"
gunicorn = "*"
lowerpines = "*"
"psycopg2-binary" = "*"
requests = "*"
scout-apm = "*"
whitenoise = {version = "*", extras = ["brotli"]}

[dev-packages]
mypy = "*"
pycodestyle = "*"
pylint = "*"
pylint-django = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
requests-mock = "*"

[requires]
python_version = "3.7"
